
<nav class="hide-on-large-only">
    <div class="nav-wrapper">
        <a href="index.html" class="brand-logo">Zema</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
            <i class="material-icons">menu</i>
        </a>
    </div>
</nav>

<ul class="sidenav sidenav-fixed" id="mobile-demo">

    <li>
        <div style="text-align: center; padding: 20px 0;">
            <a href="index.html">
                <img src="img/logo.png" style="border-radius: 5%;" class="responsive-img z-depth-2" alt="Logo da aplicação controle de embalagens"
                />
            </a>
        </div>
    </li>

    <!== Menus collapsible ==>
    <li>
        <ul id="menu-controle-embalagens" class="collapsible collapsible-accordion">

            <!== Menu Sacola ==>
            <li>
                <a class="collapsible-header waves-effect waves-red">Controle de Embalagens</a>
                <div class="collapsible-body" style="font-style: italic;">
                    <ul>
                        <li>
                            <a id="submenu-entrada-embalagem" href="/embalagens/cadastrar">Entrada de Embalagem</a>
                        </li>
                        <li>
                            <a id="submenu-relatorio-embalagem" href="/embalagens/relatorio">Relatorio Estoque de Embalagem</a>
                        </li>
                    </ul>
                </div>
            </li>

            <!== Menu Estoque ==>
            <li>
                <a class="collapsible-header waves-effect waves-red">Estoque</a>
                <div class="collapsible-body" style="font-style: italic;">
                    <ul>
                        <li>
                            <a href="sobre.html" class="waves-effect waves-red">link 1</a>
                        </li>
                        <li>
                            <a href="sobre.html" class="waves-effect waves-red">link 2</a>
                        </li>
                        <li>
                            <a href="sobre.html" class="waves-effect waves-red">link 3</a>
                        </li>
                    </ul>
                </div>
            </li>

            <!== Menu Contatos ==>
            <li>
                <a class="collapsible-header waves-effect waves-red">Contatos</a>
                <div class="collapsible-body" style="font-style: italic;">
                    <ul>
                        <li>
                            <a href="sobre.html" class="waves-effect waves-red">link 1</a>
                        </li>
                        <li>
                            <a href="sobre.html" class="waves-effect waves-red">link 2</a>
                        </li>
                        <li>
                            <a href="sobre.html" class="waves-effect waves-red">link 3</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>

    <!== Menu Outros ==>
    <li>
        <a href="sobre.html" class="waves-effect waves-red">Outros</a>
    </li>

    <!== Menu Sobre ==>
    <li>
        <a href="sobre.html" class="waves-effect waves-red">Sobre</a>
    </li>

</ul>